Repository imccausl/zombordle: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
  "*.{ts,tsx}": [
    "yarn stylelint --fix",
    "yarn run test-related"
  ]
}

chore: dedupe
  yarn.lock
Due: none

wip: update yarn
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

wip: update testing-library deps
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

wip: update eslint parser
  package.json
  yarn.lock
Due: none

wip: update turbo
  package.json
  yarn.lock
Due: none

wip: update react types
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

wip: downgrade react types
  package.json
  yarn.lock
Due: none

Revert "build(deps-dev): bump @types/react-dom from 18.2.4 to 18.2.7 (#189)"
  package.json
  yarn.lock
Due: none

wip: temporarily downgrade node to fix issue with 18.20
  .nvmrc
Due: none

wip: use slightly newer version of node
  .nvmrc
Due: none

chore: update all the things (#190)
  .nvmrc
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

chore: dedupe and --fix
  app/src/Components/Revealer/Revealer.styles.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: update prettier config and plugin and fix
  .eslintrc.js
  package.json
  packages/formula-one/src/FormProvider/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: revert rootDir path change
  .eslintrc.js
Due: yarn eslint --fix

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#214)
  .github/dependabot.yml
Due: none

wip: dedupe
  yarn.lock
Due: none

chore: dedupe (#239)
  yarn.lock
Due: none

deps: upgrade turbo
  package.json
  yarn.lock
Due: none

deps: upgrade turbo (#240)
  package.json
  yarn.lock
Due: none

wip: test updates
  app/src/Components/Layout/StatsProvider/StatsProvider.test.tsx
  app/src/Components/Layout/StatsProvider/index.tsx
  app/src/hooks/useLocalStorage/index.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: dedupe and update sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  yarn.lock
Due: none

wip: fix ts 5.2.2 issues
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

wip: dedupe and update sdks
  .yarn/sdks/eslint/package.json
  yarn.lock
Due: none

fix: replace next export command with output export config
  .github/workflows/ci.yaml
  app/next.config.js
  package.json
  turbo.json
Due: yarn eslint --fix

fix: replace next export command with output export config (#295)
  .github/workflows/ci.yaml
  app/next.config.js
  package.json
  turbo.json
Due: yarn eslint --fix

chore: dedupe (#293)
  package.json
  yarn.lock
Due: none

wip: extend babel-plugin-styled-components to include @babel/core
  .yarnrc.yml
  yarn.lock
Due: none

wip: enforce vite 4.5 and update some things
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none
