Repository imccausl/zombordle: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
  "*.{ts,tsx}": [
    "yarn stylelint --fix",
    "yarn run test-related"
  ]
}

chore: update node and yarn
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: vitest jest dom setup
  tests/setup.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: remove unnecessary comment
  tests/setup.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: update node and yarn (#298)
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  tests/setup.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: dedupe
  yarn.lock
Due: none

chore: dedupe (#310)
  yarn.lock
Due: none

wip: fix some props that should be transient
  app/next.config.js
  app/src/Components/App/Keyboard/Keyboard.styles.ts
  app/src/Components/App/TileBoard/Tile/StaticTile/StaticTile.styles.ts
  app/src/Components/App/TileBoard/Tile/StaticTile/index.tsx
  app/src/Components/App/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/Layout/Header/Header.styles.ts
  app/src/Components/Layout/Header/Settings/index.tsx
  app/src/Components/Layout/Header/SoundControl/index.tsx
  app/src/Components/Layout/Header/Stats/index.tsx
  app/src/declarations/svgr.d.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: upgrade yarn and sdks
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

wip: dedupe
  yarn.lock
Due: none

wip: update eslint-plugin for typescript-eslint
  package.json
  yarn.lock
Due: none

chore: dedupe and upgrade typescript-eslint/eslint-plugin (#321)
  package.json
  yarn.lock
Due: none

wip: update sdks
  .vscode/settings.json
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
Due: yarn eslint --fix

chore: dedupe (#343)
  yarn.lock
Due: none

chore: dedupe (#354)
  yarn.lock
Due: none

chore: dedupe and update stylelint-config-standard
  package.json
  yarn.lock
Due: none

chore: dedupe and update stylelint-config-standard (#371)
  package.json
  yarn.lock
Due: none

wip: use nodenext module resolution and dedupe
  packages/design-tokens/tsconfig.json
  packages/formula-one/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

feat: embrace our esm overlords
  app/next.config.js
  app/package.json
  package.json
  packages/formula-one/package.json
  packages/formula-one/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

dive headlong into our glorious ESM future (#384)
  app/next.config.js
  app/package.json
  package.json
  packages/design-tokens/tsconfig.json
  packages/formula-one/package.json
  packages/formula-one/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: remove api boilerplate
  app/src/pages/api/hello.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: remove api boilerplate (#385)
  app/src/pages/api/hello.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: add more tests
  app/src/Components/Layout/StatsProvider/StatsProvider.test.tsx
  app/src/Components/Layout/StatsProvider/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: replace todos in StatsProvider tests
  app/src/Components/Layout/StatsProvider/StatsProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: replace todos in useCurrentStats tests
  app/src/Components/Layout/StatsProvider/useCurrentStats.test.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

Add Provider tests (#241)
  app/src/Components/Layout/StatsProvider/StatsProvider.test.tsx
  app/src/Components/Layout/StatsProvider/index.tsx
  app/src/Components/Layout/StatsProvider/useCurrentStats.test.ts
  app/src/hooks/useLocalStorage/index.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: use jest-dom matcher to fix typescript issue
  app/src/Components/App/TileBoard/TiledInput/TiledInput.test.tsx
  tests/setup.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: use jest-dom matcher to fix typescript issue (#386)
  app/src/Components/App/TileBoard/TiledInput/TiledInput.test.tsx
  tests/setup.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore(deps): remove unused deps
  package.json
  yarn.lock
Due: none

chore(deps): remove unused deps (#387)
  package.json
  yarn.lock
Due: none

chore: dedupe and update yarn
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  app/package.json
  package.json
  packages/design-tokens/package.json
  packages/formula-one/package.json
  yarn.lock
Due: yarn eslint --fix

chore: dedupe and update yarn (#526)
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  app/package.json
  package.json
  packages/design-tokens/package.json
  packages/formula-one/package.json
  yarn.lock
Due: yarn eslint --fix

chore: dedupe
  app/package.json
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

chore: update sdks
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  app/package.json
  app/vitest.config.ts
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: change cache.dir to cacheDir
  app/vitest.config.ts
  packages/formula-one/vitest.config.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: revert turbo version change
  package.json
  yarn.lock
Due: none
