Repository imccausl/zombordle: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix, yarn test:related

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
  "*.{ts,tsx}": [
    "yarn stylelint --fix",
    "yarn test:related"
  ]
}

fix intialValues type
  src/Components/TileBoard/InputValidation/Field.tsx
  src/Components/TileBoard/InputValidation/FormContext.tsx
  src/Components/TileBoard/InputValidation/FormProvider.tsx
  src/Components/TileBoard/InputValidation/types/form.ts
  src/Components/TileBoard/TiledInput/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

use form context for focus management
  src/Components/TileBoard/InputValidation/FormProvider.tsx
  src/Components/TileBoard/InputValidation/types/form.ts
  src/Components/TileBoard/TiledInput/InputElement.tsx
  src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  src/Components/TileBoard/TiledInput/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

fix issue with types
  src/Components/TileBoard/InputValidation/types/callbacks.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

start adding invalid styles
  src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  src/Components/TileBoard/Tile/InputTile/index.tsx
  src/Components/TileBoard/TiledInput/InputElement.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

more invalid styling
  next.config.js
  package.json
  src/Components/TileBoard/InputValidation/Field.tsx
  src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  src/Components/TileBoard/Tile/InputTile/assets/exclamation.svg
  src/Components/TileBoard/Tile/InputTile/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

fix some of the color contrast issues with borders
  src/Components/TileBoard/InputValidation/FormProvider.tsx
  src/Components/TileBoard/InputValidation/slice.ts
  src/Components/TileBoard/InputValidation/types/form.ts
  src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  src/Components/TileBoard/Tile/InputTile/index.tsx
  src/Components/TileBoard/Tile/StaticTile/StaticTile.styles.ts
  src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  src/Components/TileBoard/TiledInput/TiledInputForm.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

wip: move some things around and start setting up tests for Field
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/Field/index.tsx
  src/Components/TileBoard/InputValidation/Form/index.tsx
  src/Components/TileBoard/InputValidation/FormContext/index.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/FormProvider/slice.ts
  src/Components/TileBoard/TiledInput/InputElement.tsx
  src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  src/Components/TileBoard/TiledInput/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

start setting up hook tests
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

fix some failing tests
  package.json
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/TiledInput/InputElement.tsx
  src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  src/Components/TileBoard/TiledInput/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

fix tests and type changes
  src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  src/Components/TileBoard/Tile/InputTile/InputTile.test.tsx
  src/Components/TileBoard/Tile/InputTile/index.tsx
  src/Components/TileBoard/TiledInput/TiledInput.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add some validation tests
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/Field/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add field tests
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/Field/index.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add test files
  src/Components/TileBoard/InputValidation/Form/Form.test.tsx
  src/Components/TileBoard/InputValidation/FormContext/FormContext.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

clean up unused things in Form
  src/Components/TileBoard/InputValidation/Form/Form.test.tsx
  src/Components/TileBoard/InputValidation/Form/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

move some files out of folders that do not need tests right now
  src/Components/TileBoard/InputValidation/Field/index.tsx
  src/Components/TileBoard/InputValidation/Form.tsx
  src/Components/TileBoard/InputValidation/FormContext/FormContext.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/FormContext.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/TiledInput/TiledInputForm.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add test boilerplate
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add some test todos
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add form provider hook tests
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

set up component tests
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add form provider tests
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/FormProvider/slice.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

Form validation (#7)
  next.config.js
  package.json
  src/Components/App/index.tsx
  src/Components/App/slice.ts
  src/Components/TileBoard/InputValidation/Field/Field.test.tsx
  src/Components/TileBoard/InputValidation/Field/index.tsx
  src/Components/TileBoard/InputValidation/Form.tsx
  src/Components/TileBoard/InputValidation/FormProvider/FormContext.tsx
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/FormProvider/slice.ts
  src/Components/TileBoard/InputValidation/types/callbacks.ts
  src/Components/TileBoard/InputValidation/types/field.ts
  src/Components/TileBoard/InputValidation/types/form.ts
  src/Components/TileBoard/InputValidation/types/index.ts
  src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  src/Components/TileBoard/Tile/InputTile/InputTile.test.tsx
  src/Components/TileBoard/Tile/InputTile/assets/exclamation.svg
  src/Components/TileBoard/Tile/InputTile/index.tsx
  src/Components/TileBoard/Tile/StaticTile/StaticTile.styles.ts
  src/Components/TileBoard/TiledInput/InputElement.tsx
  src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  src/Components/TileBoard/TiledInput/index.tsx
  src/Components/TileBoard/TiledInput/util.ts
  src/Components/TileBoard/index.tsx
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add register function
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/field.ts
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add register function (#8)
  src/Components/TileBoard/InputValidation/FormProvider/FormProvider.test.tsx
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/field.ts
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

reduce some of the duplication
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/field.ts
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

opportunistic fix to typo in a comment
  next.config.js
Due: yarn eslint --fix

reduce some of the duplication (#9)
  next.config.js
  src/Components/TileBoard/InputValidation/FormProvider/index.tsx
  src/Components/TileBoard/InputValidation/types/field.ts
  src/Components/TileBoard/InputValidation/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

configure app workspace
  .eslintrc.js
  .eslintrc.json
  app/package.json
  package.json
  packages/formula-one/README.md
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

upgrade yarn for ts5 compatibility
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  app/package.json
  app/tsconfig.json
  package.json
  yarn.lock
Due: yarn eslint --fix

update .gitignore
  .gitignore
Due: none

rename scripts
  package.json
Due: none

move form validation library into separate workspace
  .yarnrc.yml
  app/src/Components/TileBoard/TiledInput/InputElement.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  app/tsconfig.json
  package.json
  packages/formula-one/.eslintignore
  packages/formula-one/.gitignore
  packages/formula-one/package.json
  packages/formula-one/src/Field/Field.test.tsx
  packages/formula-one/src/Field/index.tsx
  packages/formula-one/src/Form.tsx
  packages/formula-one/src/FormProvider/FormContext.tsx
  packages/formula-one/src/FormProvider/FormProvider.test.tsx
  packages/formula-one/src/FormProvider/index.tsx
  packages/formula-one/src/FormProvider/slice.ts
  packages/formula-one/src/index.ts
  packages/formula-one/src/types/callbacks.ts
  packages/formula-one/src/types/field.ts
  packages/formula-one/src/types/form.ts
  packages/formula-one/src/types/index.ts
  packages/formula-one/tsconfig.json
  packages/formula-one/vite.config.ts
  packages/formula-one/vitest.config.ts
  tests/setup.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

add form validation package to app
  app/next.config.js
  app/package.json
  app/src/Components/TileBoard/TiledInput/InputElement.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  packages/formula-one/package.json
  packages/formula-one/src/index.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

remove unnecessary config options
  .yarnrc.yml
  app/next.config.js
Due: yarn eslint --fix

dedupe
  package.json
  packages/formula-one/package.json
  yarn.lock
Due: none

fix pipeline
  .github/workflows/ci.yaml
  .gitignore
  .lintstagedrc
  .yarnrc.yml
  app/node_modules/.vitest/results.json
  app/package.json
  package.json
  packages/formula-one/package.json
  packages/formula-one/tsconfig.json
  packages/formula-one/vitest.config.ts
  turbo.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related

test
  .lintstagedrc
  package.json
  turbo.json
Due: none

test
  packages/formula-one/src/FormProvider/FormProvider.test.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn test:related
