Repository imccausl/zombordle: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "yarn eslint --fix",
  "*.{ts,tsx}": [
    "yarn stylelint --fix",
    "yarn run test-related"
  ]
}

update sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
Due: yarn eslint --fix

wip: position validation tooltips
  app/src/Components/Revealer/index.tsx
  app/src/Components/TileBoard/TiledInput/InputElement.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/Tooltip/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: fix module not found
  app/package.json
  package.json
  yarn.lock
Due: none

wip: add icon to tooltip
  app/src/Components/TileBoard/TiledInput/InputElement.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/assets/exclamation.svg
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/Tooltip/DefaultStyle/DefaultStyle.style.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

deps: dedupe packages
  yarn.lock
Due: none

deps: dedupe packages (#32)
  yarn.lock
Due: none

fix svgr issue with tests
  app/next.config.js
  app/package.json
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/declarations/svgr.d.ts
  app/vitest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

tests: fix broken revealer test
  app/src/Components/Revealer/Revealer.styles.ts
  app/src/Components/Revealer/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: dedupe
  yarn.lock
Due: none

chore: dedupe (#48)
  yarn.lock
Due: none

tests: add bottom position tests for getContainerPosition
  app/src/Components/Revealer/Revealer.constants.ts
  app/src/Components/Revealer/Revealer.test.tsx
  app/src/Components/Revealer/index.tsx
  app/src/Components/Tooltip/DefaultStyle/DefaultStyle.style.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: add placeholders to PointerPositionCSS keys
  app/src/Components/Tooltip/DefaultStyle/DefaultStyle.constants.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

validation messages and styles (#17)
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  app/next.config.js
  app/package.json
  app/src/Components/Revealer/Revealer.constants.ts
  app/src/Components/Revealer/Revealer.styles.ts
  app/src/Components/Revealer/Revealer.test.tsx
  app/src/Components/Revealer/index.tsx
  app/src/Components/TileBoard/Tile/InputTile/InputTile.styles.ts
  app/src/Components/TileBoard/Tile/InputTile/InputTile.test.tsx
  app/src/Components/TileBoard/Tile/InputTile/index.tsx
  app/src/Components/TileBoard/TiledInput/InputElement.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/assets/exclamation.svg
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/useValidationTooltipTracker.ts
  app/src/Components/Tooltip/DefaultStyle/DefaultStyle.constants.ts
  app/src/Components/Tooltip/DefaultStyle/DefaultStyle.style.ts
  app/src/Components/Tooltip/DefaultStyle/index.tsx
  app/src/Components/Tooltip/index.tsx
  app/src/declarations/svgr.d.ts
  app/vitest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: add CNAME
  app/public/CNAME
Due: none

chore: add CNAME (#49)
  app/public/CNAME
Due: none

chore: fix asset path for custom domain
  app/next.config.js
Due: yarn eslint --fix

chore: fix asset path for custom domain (#50)
  app/next.config.js
Due: yarn eslint --fix

fix: add url to deploy environment
  .github/workflows/ci.yaml
Due: none

fix: add url to deploy environment (#51)
  .github/workflows/ci.yaml
Due: none

fix: prevent infinite tooltip reposition on smaller screens
  app/src/Components/Revealer/Revealer.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: prevent infinite tooltip reposition on smaller screens (#52)
  app/src/Components/Revealer/Revealer.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: add zombo theme
  app/public/zombo_theme.mp3
  app/src/Components/App/Header/Header.styles.ts
  app/src/Components/App/Header/assets/mute_icon.svg
  app/src/Components/App/Header/assets/speaker_icon.svg
  app/src/Components/App/Header/index.tsx
  app/src/Components/App/index.tsx
  app/src/pages/_app.tsx
  app/src/pages/index.tsx
  app/src/styles/Home.module.css
  app/src/styles/globals.css
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: add zombo theme (#53)
  app/public/zombo_theme.mp3
  app/src/Components/App/Header/Header.styles.ts
  app/src/Components/App/Header/assets/mute_icon.svg
  app/src/Components/App/Header/assets/speaker_icon.svg
  app/src/Components/App/Header/index.tsx
  app/src/Components/App/index.tsx
  app/src/pages/_app.tsx
  app/src/pages/index.tsx
  app/src/styles/Home.module.css
  app/src/styles/globals.css
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: move header landmark outside of main landmark
  app/src/Components/App/index.tsx
  app/src/Components/Header/Header.styles.ts
  app/src/Components/Header/assets/mute_icon.svg
  app/src/Components/Header/assets/speaker_icon.svg
  app/src/Components/Header/index.tsx
  app/src/pages/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: move header landmark outside of main landmark (#54)
  app/src/Components/App/index.tsx
  app/src/Components/Header/Header.styles.ts
  app/src/Components/Header/assets/mute_icon.svg
  app/src/Components/Header/assets/speaker_icon.svg
  app/src/Components/Header/index.tsx
  app/src/pages/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: reduce padding
  app/src/pages/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

fix: reduce padding (#55)
  app/src/pages/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: add zombordle title in header
  app/src/Components/Header/Header.styles.ts
  app/src/Components/Header/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

wip: add fonts
  app/src/Components/Header/Header.styles.ts
  app/src/Components/Header/index.tsx
  app/src/pages/_document.tsx
  app/src/styles/globals.css
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: add zombordle title in header (#56)
  app/src/Components/Header/Header.styles.ts
  app/src/Components/Header/index.tsx
  app/src/pages/_document.tsx
  app/src/styles/globals.css
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

refactor: replace ul with fieldset
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  app/src/Components/TileBoard/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

refactor: replace ul with fieldset (#62)
  app/src/Components/TileBoard/TiledInput/TiledInput.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/TiledInputValidation.styles.ts
  app/src/Components/TileBoard/TiledInput/TiledInputValidation/index.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  app/src/Components/TileBoard/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: choose daily word and validate against word list
  app/src/Components/App/index.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  app/src/Components/TileBoard/index.tsx
  app/src/Components/hooks/useWord/index.ts
  app/src/Components/hooks/useWordList/index.ts
  app/src/wordlists/fiveLetterWords.ts
  packages/formula-one/src/FormProvider/FormProvider.test.tsx
  packages/formula-one/src/FormProvider/index.tsx
  packages/formula-one/src/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: choose daily word and validate against word list (#63)
  app/src/Components/App/index.tsx
  app/src/Components/TileBoard/TiledInput/TiledInput.test.tsx
  app/src/Components/TileBoard/TiledInput/TiledInputForm.tsx
  app/src/Components/TileBoard/TiledInput/index.tsx
  app/src/Components/TileBoard/index.tsx
  app/src/Components/hooks/useWord/index.ts
  app/src/Components/hooks/useWordList/index.ts
  app/src/wordlists/fiveLetterWords.ts
  packages/formula-one/src/FormProvider/FormProvider.test.tsx
  packages/formula-one/src/FormProvider/index.tsx
  packages/formula-one/src/types/form.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: reset guesses when day changes
  app/src/Components/App/index.tsx
  app/src/hooks/useLocalStorage/index.ts
  app/src/hooks/useWord/index.ts
  app/src/hooks/useWordList/index.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: reset guesses when day changes (#64)
  app/src/Components/App/index.tsx
  app/src/hooks/useLocalStorage/index.ts
  app/src/hooks/useWord/index.ts
  app/src/hooks/useWordList/index.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: end game on correct guess
  app/src/Components/App/index.tsx
  app/src/Components/TileBoard/TileBoard.styles.ts
  app/src/Components/TileBoard/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

feat: end game on correct guess (#65)
  app/src/Components/App/index.tsx
  app/src/Components/TileBoard/TileBoard.styles.ts
  app/src/Components/TileBoard/index.tsx
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related

chore: cleanup unused code
  app/src/Components/App/index.tsx
  app/src/Components/App/slice.ts
Due: yarn eslint --fix, yarn stylelint --fix, yarn run test-related
